@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5eaec;
  font-size: 15px;
  max-width: 100%;
  overflow-x: hidden;
  height: min-content;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
section {
  min-height: 600px;
  padding: 100px 0;
}
ul {
  list-style: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  section {
    min-height: 800px;
  }
}

@media (max-width: 678px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
}
